## db scramble 패키지

1. 데이터 대체 (https://www.comworld.co.kr/news/articleView.html?idxno=49812)
> 1) 데이터 스크램블 대상을 지정하여 처리함<br>
&nbsp;&nbsp;&nbsp;&nbsp;  유형: 이름, 주소, 주민등록번호, 전화번호, 아이디, 패스워드, 날짜, 코드값, 위치값, 자동차번호판 <br>
&nbsp;&nbsp;&nbsp;&nbsp;위에서 더 상세화 시킬 수 있음(기본주소와 상세주소, 전화번호앞,중간, 뒷자리<p>
> 2) 대체값 연결성은 여부에 따라 연결형(비랜덤, 스크램블링 이전값은 변경 이후 다른값과 같아 진다)과 비연결형(랜덤)하게 지정이 가능<br>
&nbsp;&nbsp;&nbsp;&nbsp;해당 방식은 참조 무결성을 유지할 수 있게 한다  
> 3) 유일성 보장 : 유일성보장 방식 지정 여부, 연결성에 따라 값의 매핑을 가능하게 한다  
> 4) 셔플링 : 코드값 형식에 활용, 데이터 분포를 유지할 수 있도록 함(ex: 주문100건, 취소10건이라면 스크램블링 이후에도 주문100건, 취소 10건을 유지함)  
> 5) 암호화값 :  
> 6) 사용자지정방식 : C,c,N,D,K (영문대문자,영문소문자,숫자값,소수점이하값,한국어)

2. 데이터 평균화
> 1) 대상 : 금액과 같은 숫자 값을 평균으로 맞추고, 최대값과 최소값을 정규분포를 통해 생성<p>
> 2) https://www.tibco.com/ko/reference-center/what-is-data-masking<p>

3. 데이터 마스킹
> 1) 주요 자리에 특수문자로 변경

#### 이름 스크램블
1. 데이터  
성씨 참조 : https://ko.wikipedia.org/wiki/%ED%95%9C%EA%B5%AD%EC%9D%98_%EC%84%B1%EC%94%A8  
이름 참조 : https://koreanname.me/  
-> 이름발생량을 정규분포를 통해 랜덤하게 선택할 수 있도록 생성함 <

#### 주소 스크램블
1. 데이터  
지역별인구분포도 : https://www.index.go.kr/potal/main/EachDtlPageDetail.do?idx_cd=1007  
도로명주소정보 : https://business.juso.go.kr/addrlink/attrbDBDwld/attrbDBDwldList.do?cPath=99MD  

2. 주요 방식  
지역별 인구 분포에 따라 주소가 변경될 수 있도록 함

#### 날짜 스크램블
1. 주요 형식
정규분포를 활용하여 랜덤하게 선택하는 방식을 사용  
최대, 최소, 평균 값을 유지함  
계산시 1900-01-01을 '1'로 하여, 1일이 증가할 때 마다 +1씩 증가함  
날짜형식을 지정할 수 있도록 함

#### 전화번호 스크램블 규칙
1. 주요 형식  
앞자리는 지정된 규칙에 따라 생성하고, 지역번호와 휴대전화를 포함할지 여부를 지정할 수 있도록 함  
중간자리와 뒷자리는 랜덤하게 지정함

#### CI/DI (https://m.blog.naver.com/PostView.naver?isHttpsRedirect=true&blogId=dndlab&logNo=221506487620)
1. 주요 형식
>

### 데이터 처리 방식
1) DBMS PARALLEL EXECUTE : https://prodtool.tistory.com/33 <br>
2) ray 활용 <br>

In [ ]:
class dataManage:
    """ 데이터 스크램블을 하기 위한 기초데이터를 관리하는 곳"""
    def __init__(self):
        pass
    
    def

In [ ]:
class datascramble:

## 주소 변환

In [2]:
import os

In [3]:
folderpath = r"__data__\202208_도로명주소 한글_전체분"
filelist = os.listdir(folderpath)

In [4]:
fulldata = []
for filename in filelist:
    file = folderpath + '\\' + filename
    print(file)
    with open(file, 'r') as f:
        while True:
            rowdata = f.readline()
            if not rowdata: break
            rowdata = rowdata.split("|")
            #도로명관리번호, 법정동코드, 시도명, 시군구명, 읍면동명, 리명, 산여부, 번지, 호수, 도로명코드 = rowdata[0:10]
            fulldata.append(rowdata[0:10])

__data__\202208_도로명주소 한글_전체분\jibun_rnaddrkor_busan.txt
__data__\202208_도로명주소 한글_전체분\jibun_rnaddrkor_chungbuk.txt
__data__\202208_도로명주소 한글_전체분\jibun_rnaddrkor_chungnam.txt
__data__\202208_도로명주소 한글_전체분\jibun_rnaddrkor_daegu.txt
__data__\202208_도로명주소 한글_전체분\jibun_rnaddrkor_daejeon.txt
__data__\202208_도로명주소 한글_전체분\jibun_rnaddrkor_gangwon.txt
__data__\202208_도로명주소 한글_전체분\jibun_rnaddrkor_gwangju.txt
__data__\202208_도로명주소 한글_전체분\jibun_rnaddrkor_gyeongbuk.txt
__data__\202208_도로명주소 한글_전체분\jibun_rnaddrkor_gyeongnam.txt
__data__\202208_도로명주소 한글_전체분\jibun_rnaddrkor_gyunggi.txt
__data__\202208_도로명주소 한글_전체분\jibun_rnaddrkor_incheon.txt
__data__\202208_도로명주소 한글_전체분\jibun_rnaddrkor_jeju.txt
__data__\202208_도로명주소 한글_전체분\jibun_rnaddrkor_jeonbuk.txt
__data__\202208_도로명주소 한글_전체분\jibun_rnaddrkor_jeonnam.txt
__data__\202208_도로명주소 한글_전체분\jibun_rnaddrkor_sejong.txt
__data__\202208_도로명주소 한글_전체분\jibun_rnaddrkor_seoul.txt
__data__\202208_도로명주소 한글_전체분\jibun_rnaddrkor_ulsan.txt
__data__\202208_도로명주소 한글_전체분\rnaddrkor_busan.txt
__data__\202208_도로명주소 한글_전체분\rnaddrkor_chungbuk.txt
__data__\202208_도로명주소 한글_전체분\rnaddrkor_chungnam.txt
__data__\202208_도로명주소 한글_전체분\rnaddrkor_daegu.txt
__data__\202208_도로명주소 한글_전체분\rnaddrkor_daejeon.txt
__data__\202208_도로명주소 한글_전체분\rnaddrkor_gangwon.txt
__data__\202208_도로명주소 한글_전체분\rnaddrkor_gwangju.txt
__data__\202208_도로명주소 한글_전체분\rnaddrkor_gyeongbuk.txt
__data__\202208_도로명주소 한글_전체분\rnaddrkor_gyeongnam.txt
__data__\202208_도로명주소 한글_전체분\rnaddrkor_gyunggi.txt
__data__\202208_도로명주소 한글_전체분\rnaddrkor_incheon.txt
__data__\202208_도로명주소 한글_전체분\rnaddrkor_jeju.txt
__data__\202208_도로명주소 한글_전체분\rnaddrkor_jeonbuk.txt
__data__\202208_도로명주소 한글_전체분\rnaddrkor_jeonnam.txt
__data__\202208_도로명주소 한글_전체분\rnaddrkor_sejong.txt
__data__\202208_도로명주소 한글_전체분\rnaddrkor_seoul.txt
__data__\202208_도로명주소 한글_전체분\rnaddrkor_ulsan.txt

In [5]:
len(fulldata)

8246522

In [7]:
import pandas as pd

In [10]:
df = pd.DataFrame(fulldata, columns=['도로명관리번호', '법정동코드', '시도명', '시군구명', '읍면동명', '리명', '산여부', '번지', '호수', '도로명코드'])

In [14]:
newdf = df[['법정동코드', '시도명', '시군구명', '읍면동명', '리명']].drop_duplicates()

In [18]:
newdf.reset_index(drop=True, inplace=True)

In [23]:
newdf[(newdf['시도명'] == '경기도') & (newdf['시군구명'] == '용인시 수지구')]

            법정동코드  시도명     시군구명  읍면동명 리명
11647  4146510200  경기도  용인시 수지구   죽전동
11648  4146510700  경기도  용인시 수지구   상현동
11649  4146510100  경기도  용인시 수지구  풍덕천동
11650  4146510600  경기도  용인시 수지구   성복동
11651  4146510300  경기도  용인시 수지구   동천동
11652  4146510400  경기도  용인시 수지구   고기동
11653  4146510500  경기도  용인시 수지구   신봉동

In [25]:
newdf['시도명'].drop_duplicates()

0          부산광역시
248         충청북도
1730        충청남도
3824       대구광역시
4113       대전광역시
4286         강원도
5558       광주광역시
5760        경상북도
8816        경상남도
10987        경기도
12941      인천광역시
13194    제주특별자치도
13378       전라북도
15077       전라남도
17794    세종특별자치시
17926      서울특별시
18392      울산광역시
Name: 시도명, dtype: object